.book-list {
  margin-top: 1%;
  &__content {
    list-style-type: none !important; /*数字を一旦消す*/
    padding: 0.3em 0.8em;
    border: solid 2px #b0c4de;
  }

  &__book-title {
    border-bottom: dashed 1px #b0c4de;
    position: relative;
    padding: 0.5em 0.5em 0.5em 10px;
    line-height: 1.5em;
  }

  &__book-title:last-of-type {
    border-bottom: none; /*最後のliの線だけ消す*/
  }
}
